/* Общие стили */
body {
    font-family: Arial, sans-serif;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/* Шапка */
header {
    display: flex; /* Используем flexbox для размещения элементов внутри шапки */
    align-items: center; /* Выравниваем элементы по вертикали */
    background-color: #666;
    text-align: center;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

/* Логотип */
#logo {
    max-width: 70px; /* Максимальная ширина логотипа */
    margin-right: 10px; /* Добавляем небольшой отступ между логотипом и текстом */
    padding-left: 10px;
}

/* Текст в шапке */
#header-text {
    flex-grow: 1; /* Растягиваем текстовый блок, чтобы он занимал оставшееся пространство */
}

#header-text h1 a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}

#header-text h1 a:hover {
    color: inherit; /* При наведении оставляем цвет как у родительского элемента */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Стили для заголовков */
h1 {
    color: #333;
    font-size: 2rem;
}

/* Стили для навигационного меню */
nav {
    background: #666; /* Цвет фона */
    width: auto; /* Ширина блока */
    height: 50px; /* Высота блока */
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
    text-align: center;
}

nav ul {
    list-style-type: none; /* Удаляем маркеры списка */
    padding: 15px;
    margin: 5px;
}

nav ul li {
    display: inline; /* Располагаем пункты меню в строку */
    margin-right: 30px; /* Добавляем небольшой отступ между пунктами */
}

nav ul li a {
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
    font-weight: bold; /* Устанавливаем жирный шрифт */
}

nav ul li a:hover {
    color: #ff0000; /* Изменяем цвет текста при наведении курсора мыши */
}

/* Футер */
footer {
    background: #333; /* Цвет фона */
    text-align: center;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box; /* Учитывать padding и border в общей ширине */
}

footer p {
    color: #ccc;
}

/* Стили для контактов */
.contact {
    display: inline-block;
    margin-right: 20px;
}

.contact img {
    border-radius: 50%;
    width: 100px; /* Выберите желаемую ширину */
    height: 100px; /* Выберите желаемую высоту */
}

.contact a {
    text-align: center;
    text-decoration: none; /* Удаляем подчеркивание у ссылок */
    color: rgb(0, 0, 0); /* Устанавливаем цвет текста */
}

.contact a:hover {
    color: red;
}
