/* Общие стили */
body {
    font-family: Arial, sans-serif;
    width: 93%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 0;
}

/* Шапка */
header {
    display: flex;
    align-items: center;
    background-color: #666;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

/* Логотип */
#logo {
    max-width: 70px;
    margin-right: 10px;
    padding-left: 10px;
}

/* Текст в шапке */
#header-text {
    flex-grow: 1;
}

#header-text h1 a {
    text-decoration: none;
    color: inherit;
}

#header-text h1 a:hover {
    color: inherit;
}

.content {
    float: right;
    width: 80%;
    padding-left: 10px;
    background: rgb(218, 218, 218);
    box-sizing: border-box;
}

/* Стили для заголовков */
h1 {
    color: #333;
    font-size: 2rem;
}

/* Стили для навигационного меню */
nav {
    background: #666;
    text-align: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 15px; /* добавляем отступы для кнопок */
    border-radius: 5px; /* скругляем углы кнопок */
}

nav ul li a:hover {
    color: #fff; /* изменяем цвет текста при наведении */
    background-color: #000000a1; /* изменяем цвет фона при наведении */
}

#menu-toggle {
    max-width: 30px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    z-index: 999;
    top: 100%;
    left: 0;
    display: block;
    width: 25%;
    border-radius: 5px; /* скругляем углы выпадающего меню */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* добавляем тень выпадающему меню */
}

.dropdown-menu li {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.dropdown-menu li a {
    display: block;
    padding: 8px 15px; /* добавляем отступы для элементов списка в выпадающем меню */
    color: #333; /* цвет текста элементов списка */
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #000000; /* изменяем цвет фона элемента списка при наведении */
}

/* Футер */
footer {
    background: #333;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}

footer p {
    color: #ccc;
}

/* Стили для контактов */
.contact {
    display: inline-block;
    margin-right: 20px;
}

.contact img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.contact a {
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}

.contact a:hover {
    color: red;
}

#sidebar {
    background: #ccc;
    width: 19.5%;
    float: left;
    text-align: left;
    box-sizing: border-box;
    padding: 15px; 
}

#sidebar ul {
    list-style-type: none;
    padding: 0; 
}

#sidebar ul li {
    margin-bottom: 15px; 
}

#sidebar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    padding: 10px; 
    border-radius: 5px; 
}

#sidebar ul li a:hover {
    color: #fff; 
    background-color: #000000;
}


#clear {
    clear: both;
}



/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 780px) {
    body {
        font-size: 14px;
        /* Другие стили для мобильных устройств */
    }

    /* Пример скрытия боковой панели на мобильных устройствах */
    #sidebar {
        display: none;
    }

    .content {
        width: 100%; /* Ширина на мобильных устройствах будет 100% */
    }

    /* Скрытие списка меню по умолчанию */
    #sidebar .college-menu {
        display: none;
    }

    /* Показываем список меню при активации переключателя */
    #sidebar.active .college-menu {
        display: block;
    }

    /* Стили для кнопки меню */
    #sidebar #menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    /* Стили для ссылок в основном меню */
    #sidebar .main-menu li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    /* Оформление ссылок в основном меню при наведении */
    #sidebar .main-menu li a:hover {
        background: #f0f0f0;
    }

    /* Стили для заголовка меню */
    #sidebar .college-menu h3 {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 16px;
        color: #333;
    }

    /* Стили для ссылок в меню колледжа */
    #sidebar .college-menu li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    /* Оформление ссылок в меню колледжа при наведении */
    #sidebar .college-menu li a:hover {
        background: #f0f0f0;
    }


}

